html,
body {
    margin: 0;
    padding: 0;
}

body {
    margin: auto;
    max-width: 1440px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E5E5E5;
}

header {
    background-image: url(../images/les_petits_plats.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 575px;
    margin-bottom: 25px;
}

.logo img {
    height: 25px;
    padding: 20px;
}

.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 20%;
}

.search img {
    width: 36px;
    margin-left: -43px;
    cursor: pointer;
}

header h2 {
    text-align: center;
    padding: 20px;
    color: #FFD15B;
}

.bar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#searchBar {
    width: 60%;
    height: 50px;
    padding: 10px;
    border: none;
    border-radius: 10px;
}

#recipes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Cards */
.recipe {
    width: 380px;
    height: 731px;
    border-radius: 20px;
    overflow: hidden;
}

.recipe img {
    height: 253px;
    object-fit: cover;
}

.recipe-txt {
    height: 100px;
    overflow: hidden;
}

.time {
    position: absolute;
    right: 10px;
    top: 15px;
    background-color: #FFD15B;
    padding: 5px 15px;
    border-radius: 25px;
    font-size: smaller;
}

select {
    width: 20%;
    height: 46px;
    border: none;
    border-radius: 10px;
    padding: 10px;
}

#nb-recettes {
    font-weight: 800;
}